{% extends "base_public.html" %}

{% load i18n %}

{% block title %}{{ tenant.group.name }} Events{% endblock %}

{% block content %}

<h1>{{ tenant.group.name }} Events</h1>

{% trans "You're welcome to" %} <a href="{% url 'suggest_event' %}">{% trans 'suggest events' %}</a>!

<ul>
{% for event in object_list %}
    <li>
        {% include 'companies/event.html' %}
        <hr />
        <br />
    </li>
{% empty %}
    <li>{% trans 'No events yet.' %}</li>
{% endfor %}
</ul>


    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&lt; {% trans 'prev' %}</a>
                {% endif %}
                <span class="page-current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %} &gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
