{% extends "base_public.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ tenant.group.name }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>

<link rel="stylesheet" href="/static/events/css/codemirror.css">
<link rel="stylesheet" href="/static/events/css/redactor-custom.css">
<link rel="stylesheet" href="/static/redactor/css/redactor.css">
<script src="/static/events/js/codemirror.js"></script>
<script src="/static/events/js/multiplex.js"></script>
<script src="/static/events/js/xml.js"></script>
<script src="/static/events/js/css.js"></script>
<script src="/static/events/js/htmlmixed.js"></script>
<script src="/static/events/js/htmlembedded.js"></script>
<script src="/static/redactor/redactor.js"></script>
<script src="/static/redactor/jquery.redactor.init.js"></script>

<script>
    $(document).ready(function() {
        $('.dateinput').datetimepicker({
            format:'Y-m-d H:i'
        });
    });
</script>

{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ tenant.group.name }}: {% trans 'Suggest events' %}</h1>
    <img src="{{ tenant.big_logo_url }}" style="float: right; width: 300px" />
    {% crispy form %}
</div>

{% endblock %}
