dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-admin-tools==0.5.2
django-exclusivebooleanfield==0.3.0
django-toolbelt==0.0.1
django-wpadmin==1.7.4
django-wysiwyg-redactor==0.4.5.1
docopt==0.4.0
gunicorn==19.3.0
ipython==3.1.0
mailchimp==2.0.9
psycopg2==2.6
PyGithub==1.25.2
requests==2.6.0
six==1.9.0
static3==0.5.1
django-crispy-forms==1.5.2
trafaret==0.5.4
setuptools
-e git://github.com/rrader/django-ical.git#egg=django_ical
icalendar
pytz
python-dateutil
python-postmark>=0.4.3
