{% extends "blog/blog_base.html" %}

{% load i18n %}
{% load md5_filter %}

{% block title %}{{ request.tenant.group.name }}{% endblock %}

{% block content %}

    {{ block.super }}

    <h2>
        {% if author.email %}
            <img src="http://www.gravatar.com/avatar/{{ author.email|md5 }}" style="width: 35px" />
        {% endif %}
        {{ author.first_name }} {{ author.last_name }}</h2>

    <ul>
        <li><a href="{% url 'author_posts' author.username %}">Company Posts</a></li>
        {% if user.is_staff %}
            <li><a href="{% url 'author_unpublished_posts' author.username %}">Unpublished Company Posts</a></li>
        {% endif %}
        <li><a href="{% url 'author_personal_posts' author.username %}">Personal Posts</a></li>
        {% if user == author %}
            <li><a href="{% url 'author_personal_unpublished_posts' author.username %}">Unpublished Personal Posts</a></li>
        {% endif %}
    </ul>

{% endblock %}
