.main-content {
    background-color: #00a88c;
    padding: 5px;
    color: #333;
}

body {
    background-color: #5FD4C0;
    color: black;
}

.brand {
    float: left;
    font-size: 24px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    color: #5FD4C0;
    text-shadow: -1px 0 #006D5B, 0 1px #006D5B, 1px 0 #006D5B, 0 -1px #006D5B;
}

a {
    color: #A64300;
}

a:hover, .nav li a:hover {
    color: #BF6A30;
}

.nav li a:hover {
    color: #FFAB73;
    background-color: #00a88c;
}

.fc-unthemed .fc-today {
  background: #207E6E;
}

.fc-event {
  border: 1px solid #35D4B9;
  background-color: #5FD4C0;
  color: black;
}