{% extends "base_public.html" %}
{% load i18n %}

{% block title %}{{ request.tenant.group.name }}{% endblock %}

{% block extrahead %}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/themes/default.min.css"
          type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}

<h1>{% trans 'Blog of ' %}{{ request.tenant.group.name }}</h1>

<div class="editable" style="outline: none; margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid #dbdbdb;"></div>

<script>var editor = new MediumEditor('.editable');</script>

{% endblock %}
