{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}


{% block staff_tools %}
    {{ block.super }}
    <a href="{% url 'blog_unpublished_article_list' %}"><span class="fa fa-eye"></span>Show unpublished posts</a>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% include 'blog/include/post_list.html' %}
    {% include 'blog/include/pagination.html' %}

{% endblock %}
