{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{{ request.tenant.group.name }}{% endblock %}

{% block content %}

    {{ block.super }}

    <h2>{{ object.title }}
        {% if request.user.is_staff %}<a href="{% url 'blog_post_editor' object.id %}"><span class="fa fa-edit"></span></a>{% endif %}</h2>

    <p>{{ object.content|safe }}</p>
    <p><i>Tags: {{ object.tags }}</i><br />
    Author: <i>{{ object.owner.first_name }} {{ object.owner.last_name }}</i></p>
    <hr />

{% endblock %}
