#header {
    background: white;
}

#user-tools{
    color: black;
    margin-right: 50px;
}

#header a:link, #header a:visited {
    color: blue;
}

#header #branding h1 {
    display: none;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}

