{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}{% trans 'IKMGE' %}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript" src="/static/events/uniforms/js/uni-form.jquery.min.js"></script>

    <link href="/static/events/uniforms/css/uni-form.css" media="all" rel="stylesheet"/>
    <link href="/static/events/uniforms/css/default.uni-form.css" media="all" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'event_list' %}">{% trans 'Home' %}</a>
<a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a>
{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}
